@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 */

html,
body {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.font-mons {
  font-family: "Montserrat Subrayada", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.curve_line_bg_light {
  background: url("./assets/svg/curve_line_bg.svg");
}

/* .language_bg {
  background: url("./assets/img/lang_bg01.png");
  background-repeat: no-repeat;
  filter: grayscale(1);
  background-size: cover;
} */

/* for active route */
.active {
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: relative;
}

.aspect-banner {
  aspect-ratio: 20/9;
}

.aspect-img01 {
  aspect-ratio: 3/2;
}

/* swiper */
.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 70px !important;
  border-radius: 10px;
  background-color: #fff;
  z-index: 20;
}

@media (max-width: 572px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: bolder;
  line-height: 40px;
  color: #ca8a04;
}

.swiper-button-prev {
  left: 10px !important;
}

.swiper-button-next {
  right: 10px !important;
}

/* swiper end */

.truncate {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  /* display: -webkit-box; */
  -webkit-line-clamp: 6;
  /* -webkit-box-orient: vertical; */
}
